<h1>Fallback contacts</h1>

<table class="table table-striped">
  <tr>
    <th>
      ZMI pathname
    </th>
    <th>
      Internet address
    </th>
    <th style="width: 150px">
      Action
    </th>
  </tr>
  <tr ng-repeat="contact in contacts">
    <td>
      {{ contact.path_name }}
    </td>
    <td>
      {{ contact.inet_address }}
    </td>
    <td style="width: 150px">
      <button type="button" class="btn btn-danger btn-small"
              ng-click="deleteContact(contact)">
        Delete
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <input class="form-control" type="text"
             placeholder="ZMI pathname"
             ng-model="newPathname">
    </td>
    <td>
      <input class="form-control" type="text"
             placeholder="Internet address"
             ng-model="newAddress">
    </td>
    <td style="width: 150px">
      <button type="button" class="btn btn-success btn-small"
              ng-click="newContact()">
        Create
      </button>
    </td>
  </tr>
</table>
