<h1>Queries</h1>

<table class="table table-striped">
  <tr>
    <th>
      Name
    </th>
    <th>
      Content
    </th>
    <th>
      Signature date
    </th>
    <th style="width: 150px">
      Action
    </th>
  </tr>
  <tr ng-repeat="query in queries | orderBy:'timestamp'">
    <td>
      {{ query.name }}
    </td>
    <td>
      {{ query.content }}
    </td>
    <td>
      {{ query.timestamp | date:'yyyy-MM-dd HH:mm:ss Z' }}
    </td>
    <td style="width: 150px">
      <button type="button" class="btn btn-danger btn-small"
              ng-click="setQuery(query.name, '')">
        Delete
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <input class="form-control" type="text"
             placeholder="Name"
             ng-model="newName">
    </td>
    <td>
      <input class="form-control" type="text"
             placeholder="Content"
             ng-model="newContent">
    </td>
    <td></td>
    <td style="width: 150px">
      <button type="button" class="btn btn-success btn-small"
              ng-click="setQuery(newName, newContent)">
        Create
      </button>
    </td>
  </tr>
</table>
