<h1>ZMI values</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Zone</h3>
  </div>
  <div class="panel-body">
    <select class="form-control"
            ng-model="pickedZone"
            ng-options="zone for zone in zones">
    </select>

  </div>
</div>

<table class="table table-striped">
  <tr>
    <th style="width: 200px">
      Attribute
    </th>
    <th>
      Value
    </th>
    <th style="width: 100px">
      Action
    </th>
  </tr>
  <tr ng-repeat="entry in entries | orderBy:'key'">
    <td style="width: 200px">
      {{ entry.key }}
    </td>
    <td>
      {{ entry.value }}
    </td>
    <td style="width: 100px"></td>
  </tr>
  <tr ng-show="isLeaf">
    <td>
      <input class="form-control" type="text"
             placeholder="Key"
             ng-model="newKey">
    </td>
    <td>
      <input class="form-control" type="text"
             placeholder="Value"
             ng-model="newValue">
    </td>
    <td style="width: 100px">
      <button type="button" class="btn btn-success btn-small"
              ng-click="setEntry()">
        Create
      </button>
    </td>
  </tr>
</table>

<div class="alert alert-warning" role="alert" ng-hide="isLeaf">
This ZMI is not a leaf, so changing values is disabled.
</div>

<h1>Numeric attributes charts</h1>

<div ng-repeat="chart in charts.list">
  <h3>{{ chart.name }}</h3>
  <canvas class="chart chart-line"
          chart-options="{animationSteps: 0, pointHitDetectionRadius: 0}"
          chart-data="chart.data"
          chart-labels="charts.labels"
          height="50"></canvas>
</div>
