<!DOCTYPE html>
<html lang="en" ng-app="cloudAtlasApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CloudAtlas client</title>
    <link href="lib/bootstrap-3.3.6.min.css" rel="stylesheet">
    <link href="lib/angular-chart.min.css" rel="stylesheet">
    <script src="lib/angular-1.5.0.js"></script>
    <script src="lib/angular-route-1.5.0.js"></script>
    <script src="lib/Chart.js"></script>
    <script src="lib/angular-chart.js"></script>
    <script src="app.js"></script>
    <style>
    .container--main {
      margin-top: 250px;
    }
    @media (min-width: 768px) {
      .container--main {
        margin-top: 130px;
      }
    }
    @media (min-width: 992px) {
      .container--main {
        margin-top: 80px;
      }
    }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <span style="font-size: 2em; line-height: 0">☁</span>
            CloudAtlas client
          </a>
        </div>
        <div id="navbar" ng-controller="menuCtrl">

          <ul class="nav navbar-nav">
            <li ng-repeat="menuEntry in menuEntries"
                ng-class="{active: menuEntry.href == currentPath}">
              <a ng-href="#{{ menuEntry.href }}">
                {{ menuEntry.title }}
              </a>
            </li>
          </ul>

          <form class="navbar-form navbar-right">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">Agent hostname</span>
                <input type="text"
                       placeholder="Enter hostname..."
                       class="form-control"
                       ng-model="newHostname"
                       ng-keypress="$event.keyCode == 13 && setHostname()">
                 <span class="input-group-btn">
                   <button class="btn btn-primary"
                           ng-class="{hidden: hostname == newHostname}"
                           type="button"
                           ng-click="setHostname()">Set</button>
                 </span>
              </div>
            </div>
          </form>

        </div>
      </div>
    </nav>

    <div class="container-fluid container--main">
      <div ng-controller="loggerCtrl">
        <div class="alert alert-danger" role="alert" ng-show="!!msg">
          {{ msg }}
          <button type="button" class="close"
                  ng-click="msg = null">
              &times;
          </button>
        </div>

      </div>
      </div>
      <div ng-view style="padding: 10px"></div>
    </div>

  </body>
</html>
